### Introduction
--------------------------------
#### Student Name: ```Anisha Pandey```
#### Roll No: ```2314509477``` 
#### Email: ```anisha.2314509477@mujonline.edu.in```
#### Description: ```This notebook cleans raw data which loaded from csv.```

#### Importing python libraries

In [246]:

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

#### Define file path variables

In [196]:
directory_name = "E:/MBA Project/dataset/"  # file path variable
file_name = "Parking_Transactions.csv" # file name variable
file_path = directory_name + file_name  # concatenating file path and file name to generate full file path
print(file_path) # print

E:/MBA Project/dataset/Parking_Transactions.csv

#### Data Ingestion

In [197]:
df = pd.read_csv(file_path)  # reading csv file for the given path into a dataframe variable called df
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [198]:
# print top 5 records
df.head(2)

,ID,Source,Start Time,End Time,Amount,Kiosk ID,App Zone ID,Payment Method,Location Group,Last Updated
0,91886070,Parking Meters,3/16/2023 20:19,3/16/2023 23:58,NaN,10001040.0,NaN,CARD,Level 2,4/30/2023 9:26
1,91886073,Parking Meters,3/16/2023 20:19,3/16/2023 22:34,NaN,10000632.0,NaN,CARD,Level 2,4/30/2023 9:26

In [199]:
# print bottom 5 records
df.tail()

,ID,Source,Start Time,End Time,Amount,Kiosk ID,App Zone ID,Payment Method,Location Group,Last Updated
658681,88430249,Parking Meters,6/2/2022 11:31,6/2/2022 12:31,2.25,10000646.0,NaN,CARD,Level 2,6/9/2023 21:14
658682,88430253,Parking Meters,6/2/2022 11:31,6/2/2022 13:05,2.25,24002416.0,NaN,CARD,Level 1,6/9/2023 21:14
658683,88430254,Parking Meters,6/2/2022 11:31,6/2/2022 12:31,2.25,10000425.0,NaN,CARD,Level 2,6/9/2023 21:14
658684,88430255,Parking Meters,6/2/2022 11:31,6/2/2022 12:31,2.00,19001905.0,NaN,CARD,Ground Level,6/9/2023 21:14
658685,88430258,Parking Meters,6/2/2022 11:32,6/2/2022 12:32,2.25,28002809.0,NaN,CARD,Level 1,6/9/2023 21:14

In [200]:
df.shape

(658686, 10)

In [201]:
# Print schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658686 entries, 0 to 658685
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              658686 non-null  int64
 1   Source          658686 non-null  object
 2   Start Time      658686 non-null  object
 3   End Time        658686 non-null  object
 4   Amount          658454 non-null  float64
 5   Kiosk ID        231875 non-null  float64
 6   App Zone ID     426811 non-null  float64
 7   Payment Method  658631 non-null  object
 8   Location Group  658419 non-null  object
 9   Last Updated    658686 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 50.3+ MB

In [202]:
df.describe() # desribe the dataframe

                 ID         Amount      Kiosk ID    App Zone ID
count  6.586860e+05  658454.000000  2.318750e+05  426811.000000
mean   3.386006e+08       4.900178  2.359751e+07   39405.287087
std    1.840932e+08       4.770313  1.983773e+07    1132.339034
min    7.895860e+07       0.000000  1.000010e+07     101.000000
25%    9.201985e+07       2.250000  1.000066e+07   39191.000000
50%    4.386015e+08       3.300000  2.000098e+07   39306.000000
75%    4.845260e+08       5.500000  2.600260e+07   39630.000000
max    6.089531e+08      47.820000  9.100190e+07  400001.000000

#### Deduplication
```Duplicate data can significantly affect your data analysis by introducing bias, inaccuracy, and misleading results. Here's a brief overview:```

1. Inflated Metrics: Duplicates can artificially increase counts, totals, or averages. 
    Example: Repeated sales entries can inflate revenue.

2. Distorted Distributions: Summary statistics like mean, median, standard deviation may be skewed.
    Example: May give a false impression of customer behavior or trends.

3. Biased Insights: If duplicates favor a specific category, group-based analysis (e.g., by region or method) becomes biased.

```In this section we will focus on:```
1. Identifying duplicate data
2. Deduplication process

In [203]:
total_duplicates = df.duplicated().sum()
print(total_duplicates) # this variables shows total duplicate records

239

In [204]:
# Deduplication - removing duplicate rows
df_dedup = df.drop_duplicates()
df_dedup.shape

(658447, 10)

In [205]:
# validate dedup dataset
diff = df.shape[0] - df_dedup.shape[0]
print(diff)

239

In [206]:
df_dedup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 658447 entries, 0 to 658685
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              658447 non-null  int64
 1   Source          658447 non-null  object
 2   Start Time      658447 non-null  object
 3   End Time        658447 non-null  object
 4   Amount          658251 non-null  float64
 5   Kiosk ID        231646 non-null  float64
 6   App Zone ID     426801 non-null  float64
 7   Payment Method  658402 non-null  object
 8   Location Group  658180 non-null  object
 9   Last Updated    658447 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 55.3+ MB

#### Missing Value Handling
```Missing values can negatively impact your analysis by reducing accuracy, completeness, and reliability of the results. Here's a brief explanation:```

1. Incomplete Insights: Missing values can lead to gaps in understanding trends or behavior.
    For example, missing Amount values may affect revenue calculations.

2. Biased Analysis: If missing data is not random (e.g., mostly from one group), it can bias your results.
    This may lead to incorrect conclusions about certain categories or time periods.

```In this step we will focus on:```

1. Identifying missing records for the required columns e.g. Amount, Payment Method
2. treating missing values using measure of central e.g. mean, mode, median

In [207]:
df_dedup.columns

Index(['ID', 'Source', 'Start Time', 'End Time', 'Amount', 'Kiosk ID',
       'App Zone ID', 'Payment Method', 'Location Group', 'Last Updated'],
      dtype='object')

In [208]:
# Missing value stats
df_dedup.isnull().sum()

ID                     0
Source                 0
Start Time             0
End Time               0
Amount               196
Kiosk ID          426801
App Zone ID       231646
Payment Method        45
Location Group       267
Last Updated           0
dtype: int64

In [209]:
amount_median = df_dedup['Amount'].median()
mode_payment_method = df_dedup['Payment Method'].mode()[0]

print(amount_median)
print(mode_payment_method)

3.3
App - Wallet

In [210]:
df_fixed = df_dedup.fillna({'Amount': amount_median, 'Payment Method': mode_payment_method})

In [212]:
# check distinct parking location
df_fixed['Location Group'].unique()

array(['Level 2', 'Level 1', 'Level 4', 'Level 3', 'Underground 1',
       'Ground Level', nan, 'Unknown Location'], dtype=object)

In [213]:
# As we can see there are two invalid type of parking location, "Unknown Location" and nan. both are invalid values.
# We must consider both as missing values.
df_fixed['Location Group'] = df_fixed['Location Group'].replace('Unknown Location', pd.NA)
df_fixed['Location Group'] = df_fixed['Location Group'].fillna(df_dedup['Location Group'].mode()[0])

In [214]:
df_fixed.isnull().sum()

ID                     0
Source                 0
Start Time             0
End Time               0
Amount                 0
Kiosk ID          426801
App Zone ID       231646
Payment Method         0
Location Group         0
Last Updated           0
dtype: int64

In [215]:
# check distinct parking location after fixing
df_fixed['Location Group'].unique()

array(['Level 2', 'Level 1', 'Level 4', 'Level 3', 'Underground 1',
       'Ground Level'], dtype=object)

#### Rename or Drop Irrelevant Columns
```Clean column names and remove unused or redundant fields```

In [216]:
# ID, App Zone Id and Kiosk Id are not useful for our analysis, so we can drop these columns
df_fixed = df_fixed.drop(["ID", "App Zone ID", "Kiosk ID", "Last Updated"], axis=1)

In [217]:
df_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 658447 entries, 0 to 658685
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Source          658447 non-null  object
 1   Start Time      658447 non-null  object
 2   End Time        658447 non-null  object
 3   Amount          658447 non-null  float64
 4   Payment Method  658447 non-null  object
 5   Location Group  658447 non-null  object
dtypes: float64(1), object(5)
memory usage: 35.2+ MB

In [218]:
df_fixed.isnull().sum()

Source            0
Start Time        0
End Time          0
Amount            0
Payment Method    0
Location Group    0
dtype: int64

In [184]:
# df_fixed has all the missing value fixed

#### Fix Data Types
```Fixing column data types helps in performing required arithmetic or string operations. It ensure columns are in the correct format (e.g., dates, integers, floats).```

In [185]:
df_fixed.dtypes

Source             object
Start Time         object
End Time           object
Amount            float64
Payment Method     object
Location Group     object
dtype: object

In [219]:
df_fixed["Source"] = df_fixed["Source"].astype("string")
df_fixed['Start Time'] = pd.to_datetime(df['Start Time'], format='%m/%d/%Y %H:%M')
df_fixed['End Time'] = pd.to_datetime(df['End Time'], format='%m/%d/%Y %H:%M')
df_fixed["Payment Method"] = df_fixed["Payment Method"].astype("string")
df_fixed["Location Group"] = df_fixed["Location Group"].astype("string")

In [220]:
df_fixed.head()

,Source,Start Time,End Time,Amount,Payment Method,Location Group
0,Parking Meters,2023-03-16 20:19:00,2023-03-16 23:58:00,3.3,CARD,Level 2
1,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2
2,Parking Meters,2023-03-16 20:20:00,2023-03-16 23:58:00,3.3,CARD,Level 1
3,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2
4,Passport - app,2023-09-09 18:41:00,2023-09-09 20:11:00,3.3,App - Wallet,Level 1

In [221]:
df_fixed.dtypes

Source            string[python]
Start Time        datetime64[ns]
End Time          datetime64[ns]
Amount                   float64
Payment Method    string[python]
Location Group    string[python]
dtype: object

#### Standardize Formatting and Column Names
```Standardize columns name, here we are replacing spaces from the column name with _ and changing name to lowercase```

In [222]:
df_fixed = df_fixed.rename(columns={
    'Source': 'source',
    'Start Time': 'start_time',
    'End Time': 'end_time',
    'Location Group': 'location_group',
    'Amount': 'amount',
    'Payment Method': 'payment_method',
    'Location Group': 'location_group'
})

In [223]:
df_fixed.head() # This is our final clean data with no duplicates and missing values

,source,start_time,end_time,amount,payment_method,location_group
0,Parking Meters,2023-03-16 20:19:00,2023-03-16 23:58:00,3.3,CARD,Level 2
1,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2
2,Parking Meters,2023-03-16 20:20:00,2023-03-16 23:58:00,3.3,CARD,Level 1
3,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2
4,Passport - app,2023-09-09 18:41:00,2023-09-09 20:11:00,3.3,App - Wallet,Level 1

In [224]:
df_fixed["duration_minutes"] = (df_fixed['end_time'] - df_fixed['start_time']).dt.total_seconds() / 60
df_fixed.head()

,source,start_time,end_time,amount,payment_method,location_group,duration_minutes
0,Parking Meters,2023-03-16 20:19:00,2023-03-16 23:58:00,3.3,CARD,Level 2,219.0
1,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2,135.0
2,Parking Meters,2023-03-16 20:20:00,2023-03-16 23:58:00,3.3,CARD,Level 1,218.0
3,Parking Meters,2023-03-16 20:19:00,2023-03-16 22:34:00,3.3,CARD,Level 2,135.0
4,Passport - app,2023-09-09 18:41:00,2023-09-09 20:11:00,3.3,App - Wallet,Level 1,90.0

In [229]:
df_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 658447 entries, 0 to 658685
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   source            658447 non-null  string
 1   start_time        658447 non-null  datetime64[ns]
 2   end_time          658447 non-null  datetime64[ns]
 3   amount            658447 non-null  float64
 4   payment_method    658447 non-null  string
 5   location_group    658447 non-null  string
 6   duration_minutes  658447 non-null  float64
dtypes: datetime64[ns](2), float64(2), string(3)
memory usage: 40.2 MB

#### Validate Data Ranges and Logic
```Check if values fall within expected ranges or if dates/times are logically consistent.```

In [240]:
# Check for negative or zero durations
invalid_durations = df_fixed[df_fixed['duration_minutes'] < 0]
print(f"Records with invalid durations:\n{invalid_durations}")

Records with invalid durations:
Empty DataFrame
Columns: [source, start_time, end_time, amount, payment_method, location_group, duration_minutes]
Index: []

In [243]:
# check for invalid amounts
invalid_amounts = df_fixed[df_fixed['amount'] < 0]
print(f"Records with negative Amount:\n{invalid_amounts}")

Records with negative Amount:
Empty DataFrame
Columns: [source, start_time, end_time, amount, payment_method, location_group, duration_minutes]
Index: []

In [244]:
# Check for invalid start time
invalid_times = df_fixed[df_fixed['start_time'] > df_fixed['end_time']]
print(f"Records where Start Time is after End Time:\n{invalid_times}")

Records where Start Time is after End Time:
Empty DataFrame
Columns: [source, start_time, end_time, amount, payment_method, location_group, duration_minutes]
Index: []

### Write Cleansed Data to SQL Server for further processing and EDA

In [247]:
# Create connection string
server = 'localhost'          # e.g., 'localhost\SQLEXPRESS'
database = 'DB_AirportParking'      # e.g., 'ParkingDB'
username = 'YOUR_USERNAME'           # optional if using Windows Auth
password = 'YOUR_PASSWORD'           # optional if using Windows Auth

# Use Windows Authentication (trusted connection)
conn_str = f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"

# OR use SQL Server Authentication:
# conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create SQLAlchemy engine
engine = create_engine(conn_str)

# Write to SQL (replace 'your_table_name' with actual table name)
df_fixed.to_sql('airport_parking_transactions', con=engine, if_exists='replace', index=False)

49